<section class="container criar-itens ff-inter">
  <header class="header">
      <h2>Adicione um <br> item novo:</h2>
  </header>

  <form [formGroup]="formulario">
    <label for="item">Item</label>
    <input
      type="textarea"
      class="input"
      id="item"
      formControlName="nome"
      placeholder="Digite o item">
      <div class="mensagem__erro" *ngIf="formulario.get('nome')?.errors && formulario.get('nome')?.touched">
        Item é obrigatório!
      </div>

      <label for="quantidade">Quantidade</label>
      <input
        type="text"
        class="input"
        id="quantidade"
        formControlName="quantidade"
        placeholder="Digite a quantidade">
        <div class="mensagem__erro" *ngIf="formulario.get('quantidade')?.errors && formulario.get('quantidade')?.touched">
          Quantidade é obrigatória!
        </div>
  </form>
  <div class="acoes">
    <button (click)="criarItem()" class="botao">Salvar</button>
    <button (click)="cancelar()" class="botao">Cancelar</button>
</div>
</section>
