<div class="item modelo1 ff-roboto-mono item-p">
  <div class="descricao">
    <p class="nome">Item: {{ item.nome }}</p>
    <p class="quantidade"><b>Quantidade: {{ item.quantidade }}</b></p>
  </div>
  <div class="acoes">
    <button class="botao-editar" routerLink="/itens/editarItem/{{item.id}}">
      <img src="/assets/imagens/icone-editar.png" alt="Ícone de editar">
    </button>
    <button class="botao-excluir" routerLink="/itens/excluirItem/{{item.id}}">
      <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir">
    </button>
  </div>
</div>
